.style-header{
     margin-top: 20px;
    display:flex;
    justify-content: space-between;
    justify-content: center;
    
    
}
.image-style{
    width: 1000px;
    height: 600px;
    margin: 7px;
    border-radius: 8px;
    margin-left: 30px;
    
}
.style-text{
    width: 570px;
height: 300px;
margin-top: 90px;
font-size: 40px;
margin-right: 30px;



}
.tt{
    margin-top: 40px;
    
}
.text-c{
    color: blueviolet;
}
.Get-Started{
    background-color: rgb(87, 128, 243);
    color: aliceblue;
    font-size: 30px;
    margin-top: 50px;
   
   

}
.img-size{
    width: 200px;
    height: 150px;
    margin-right: 10px;
}